@import "../variables";
@import "../mixins";

.outer-container {
  margin: 0 2rem;
  position: relative;
}

.about-container {
  position: relative;
  margin: 5rem auto;
  border: 1px dashed #000000;
  border-top-color: transparent;
  max-width: 1349px;
}

.dashed-top {
  position: absolute;
  top: -30px;
  z-index: -1;
}

.dashed-bottom {
  position: absolute;
  bottom: -34px;
  z-index: -1;
}

@include size-medium-down {
  .dashed-top {
    top: -24px;
  }

  .dashed-bottom {
    bottom: -24px;
  }
}

@media screen and (max-width: 768px) {
  .dashed-top {
    top: -17px;
  }

  .dashed-bottom {
    bottom: -17px;
  }
}

@include size-tablet-down {
  .dashed-top {
    top: -15px;
  }

  .dashed-bottom {
    bottom: -15px;
  }
}

@include size-down-down {
  .outer-container {
    margin: 0 1rem;
  }

  .about-container {
    margin: 4rem auto;
  }

  .dashed-top {
    top: -9px;
  }

  .dashed-bottom {
    bottom: -9px;
  }
}
