@import '../variables';
@import '../mixins';

/* body */

html,
body {
  font-weight: normal;
  font-family: $font-body;
  font-size: $font-size-base;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 500;
}

/* layout */

.wrap {
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.wrap-large {
  max-width: $width-wide;
}

/* font */

.font-nobile {
  font-family: $font-header;
}

/* font-color */

.color-white {
  color: white;
}

/* alignment */

.text-center {
  text-align: center;
}

/* helpers */

.hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.image-wrap {
  position: relative;
  width: 100%;
}

/* presentation images */
.fun-bunch {
  // position: absolute;
  // top: -125px;
  // right: -30px;
  // z-index: -1;
  // opacity: 0.25;

  position: absolute;
  top: -175px;
  right: -60px;
  z-index: -1;
  opacity: .45;

  @include size-medium-down {
    opacity: 0.08;
  }

  @include size-tablet-down {
    position: absolute;
    top: -100px;
    left: -30px;
    z-index: -1;
    opacity: .1;
    opacity: 0.3;
  }
}

.fun-bunch-subpage {
  opacity: .1;
}

.fun-bunch-bw {
  position: absolute;
  top: 400px;
  z-index: -1;
  opacity: 0.02;
  transform: rotate(190deg);

  @include size-medium-down {
    @include hidden;
  }
}
