@import '../variables';
@import '../mixins';

.wrapper {
	padding: 100px 20px 20px;
	color: #444444;
	text-align: center;
	position: relative;

	h1 {
		font-family: $font-header;
		font-size: 3em;
		font-weight: 300;
		line-height: 1.15;
		letter-spacing: 1px;
		margin: 0 auto 60px;

		@include size-medium-down {
			margin: 0 auto;
			font-size: 2em;
		}
	}
}

.circles {
	width: 500px;
	height: 100px;
	margin: auto;

	path {
		fill: lighten(#066BD1, 30%);
		opacity: .25;
	}
}

.triangles {
	position: relative;
	width: 200px;
	z-index: 2;
	margin-top: -50px;
	.triangle {
		max-width: 100px;
		width: 50%;
	}
	.yellow {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -12%;
	}
	.grey {
		position: relative;
	}
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100%;
	background-position: 340% 20%;
	background-repeat: no-repeat;
	@include opacity(0.5);
}

.z-index {
	position: relative;
	z-index: 3;
}

.divider {
	height: 5px;
	width: 100px;
	background: white;
	margin: 0 auto 60px;
}

.parallelogram {
	position: absolute;
	top: -60px;
	width: 150px;
	right: 20px;
}
