@import "../variables";
@import "../mixins";

.conquer-legal-container {
  padding: 0 18px;
  position: relative;
  margin-bottom: 5rem;

  &:before {
    content: "Modular Builds For Incremental Needs";
    position: absolute;
    top: 200px;
    left: -165px;
    z-index: 10;
    text-transform: uppercase;
    font-size: 0.825rem;
    font-weight: 600;
    color: $color-white;
    transform: rotate(-90deg);
  }

  &:after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 25px;
    top: 495px;
    left: -2.5rem;
    background-image: url("/static/img/double-squiggle.svg");
    background-repeat: no-repeat;
    z-index: 10;
  }
}

.tag-line {
  margin: 3rem 0 0;
  padding: 0 0.9375rem;
  display: flex;
  line-height: 1.2;

  img {
    transform: translateY(-30px);
    margin-right: 1.3rem;
    align-self: flex-start;
  }

  a {
    text-decoration: none;
    color: #3fa0ff;
    margin-left: 2rem;
    font-size: 1rem;
    white-space: nowrap;
  }
}

.header {
  font-size: 2rem;
  color: $color-black;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1.75rem;
}

.conquer-legal-wrapper {
  display: flex;
  justify-content: center;
}

.img-column {
  flex: 0 0 40%;
}

.img-div {
  text-align: center;
}

.img-div img {
  margin-top: 1em;
  width: 220px;
}

.button-container {
  display: inline-block;
}

.button {
  color: $color-white;
  background-color: $color-pink;
  padding: 18px;
  border-radius: 0;
  border-color: $color-pink;
  border-style: solid;
  border-width: 1px 2px 0 1px;
  text-transform: uppercase;
  margin: 6rem 0 0;
  font-size: 1.25rem;
  position: relative;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: $color-pink;
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    transition: all 0.2s;
    bottom: -6px;
    height: 6px;
    width: 101%;
    left: 2px;
    transform: skewX(45deg);
    background-color: $color-black;
  }

  &::after {
    position: absolute;
    content: "";
    transition: all 0.2s;
    right: -8px;
    height: 102%;
    width: 6px;
    bottom: -3px;
    transform: skewY(45deg);
    background-color: $color-black;
  }

  &:active {
    transform: translate(4px, 4px);

    &::before {
      bottom: -2px;
      height: 2px;
      left: 0;
    }

    &::after {
      right: -3px;
      width: 2px;
      bottom: -1px;
    }
  }
}

.text {
  color: $color-black;
  display: inline-block;
  max-width: 550px;
  font-size: 20px;
}

@include size-medium-down {
  .flex-wrapper {
    flex-direction: column;
  }

  .conquer-legal-wrapper {
    flex-direction: column;
  }

  .conquer-legal-wrapper > div {
    flex: 0 0 50%;
    width: 100%;
  }
}

@include size-tablet-down {
  .img-div img {
    margin: 3rem 0;
  }

  .button {
    margin: 2.5rem 0 0;
  }
}

@include size-medium-up {
  .conquer-legal-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0 48px;
  }
}
