.content {
	background: lavender;
}

.divider {
	width: 30px;
	height: 1px;
	background: white;
}

.paragraph {
	font-size: 0.95rem;
}

.shape_content_wrapper {
	position: relative;
}

.centered {
	display: flex;
	align-items: center;
}
