@import '../variables';
@import '../mixins';

.wrap {
	background: #0769d2;
}

.content {
	position: relative;
	display: flex;

	@include size-medium-down {
		flex-direction: column;
		padding: 12px;
	}
}

.divider {
	width: 30px;
	height: 1px;
	background: #6CBBF1;
}

.paragraph {
	font-family: $font-body;
	color: $color-wiltedlilac;
}

.shape-content-wrapper {
	background: white;
	border: 1px solid #1558a0;
	border-radius: 2px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05);
	padding: 48px;
	margin-right: 24px;
	position: relative;
	width: 33%;

	&:nth-of-type(1) {
		top: -24px;
	}

	&:nth-of-type(2) {
		bottom: -24px
	}

	@include size-medium-down {
		width: 100%;

		&:nth-of-type(1) {
			top: 0;
			margin-bottom: 12px;
		}

		&:nth-of-type(2) {
			bottom: 0;
		}
	}

	h2 {
		margin-top: 0;
		color: $color-royal;
	}
}
.blue {
	// background: #056bd0;
	// padding-bottom: 25px;
}
.teal {
	// background: #01cde6;
	// position: relative;
	// z-index: 2;
	// top: -35px;
}

.centered {
	display: flex;
	align-items: center;
}

.svg-wrapper svg {
  position: absolute;
  height: 650px;
  left: 350px;
  top: -125px;

  @include size-medium-down {
  	@include hidden;
  }
}
