@import "../variables";
@import "../mixins";

.eliminate-grunt-work-container {
  padding: 0 18px;
  position: relative;

  &:before {
    content: "Modular Builds For Incremental Needs";
    position: absolute;
    top: 500px;
    left: -165px;
    z-index: 10;
    text-transform: uppercase;
    font-size: 0.825rem;
    font-weight: 600;
    color: $color-white;
    transform: rotate(-90deg);
  }
}

.header-container {
  text-align: center;
  padding: 0 0.9375rem;
  margin: 5rem 0 50px;

  .header {
    font-size: 2rem;
    color: $color-black;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 2rem;
  }

  img {
    transform: translateY(-8px);
  }

  @media screen and (max-width: 831px) {
    text-align: initial;

    .header {
      margin: 0;
    }

    img {
      display: none;
    }
  }
}

.eliminate-grunt-work-wrapper {
  display: flex;
  justify-content: center;
}

.column-header {
  font-size: 1.5rem;
  color: $color-black;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  // display: inline-block;
  // margin: 0 2rem;
  margin: 2.5rem 0;
}

.text-column-container {
  display: flex;
}

.text-column {
  max-width: 300px;
  padding: 0 2rem;
}

.img-column {
  flex: 0 0 45%;
}

.img-div {
  text-align: center;
}

.img-div img {
  // margin-top: 1em;
  width: 500px;
}

.button {
  color: $color-white;
  background-color: $color-pink;
  padding: 18px;
  border-radius: 0;
  box-shadow: 0.4rem 0.4rem $color-black;
  text-transform: uppercase;
  margin: 5rem 0 0;
  font-size: 1.25rem;

  &:hover,
  &:focus {
    background-color: $color-pink;
    outline: none;
  }
}

// .text {
//   color: $color-black;
//   display: inline-block;
//   max-width: 400px;
// }

@include size-medium-down {
  .flex-wrapper {
    flex-direction: column;
  }

  .eliminate-grunt-work-wrapper {
    flex-direction: column;
  }

  .text-column-container {
    flex-direction: column;
  }

  .text-column {
    padding: 0 0.9375rem;
  }

  .eliminate-grunt-work-wrapper > div {
    flex: 0 0 50%;
    width: 100%;
  }
}

@include size-tablet-down {
  .img-div img {
    margin: 1rem 0;
    // width: 12rem;
  }

  .button {
    margin: 2.5rem 0 0;
  }
}

@include size-medium-up {
  .eliminate-grunt-work-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // margin: 48px 0;
  }
}
