.error-page {
	font-size: 18px;
	text-align: center !important;
	padding: 3rem 1.5rem;
	margin: 0 auto;
}

.main-name {
	margin: 0 0 1rem 0;
    font-family: 'Nunito', sans-serif !important;
}

.main-logo {
    vertical-align: middle !important;
    width: 80px;
}

.error-page-title {
	font-size: 2rem;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

.error-image {
	margin: 2rem auto 0;
    width: 18rem;
}

.error-page-link-section {
    margin-top: 3rem;
}

.error-page-link-item {
	display:inline-block;
}

.error-page-link {
	text-decoration: none;
}

.error-page-links-divider {
	margin: 0 .75rem;
}

.error-page-link-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

