.error-page {
	font-size: 18px;
	text-align: center !important;
	padding: 3rem 1.5rem;
	margin: 0 auto;
}

.main-name {
	margin: 0 0 1rem 0;
    font-family: 'Nunito', sans-serif !important;
}

.main-logo {
    vertical-align: middle !important;
    width: 80px;
}

.error-page-title {
	font-size: 2rem;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

.error-image {
	margin: 2rem auto 0;
    width: 20rem;
}