@import '../variables';
@import '../mixins';

.footer-wrap {
  background-color: #f2f2f5;
  min-height: 250px;
  padding: 48px 48px 24px;
}

.footer {
  display: flex;
  width: 100%;

  @include size-tablet-down {
    flex-direction: column;
  }

  h3 {
    color: $color-wiltedlilac;
    font-family: $font-body;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;

    @include size-tablet-down {
      padding-top: 12px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 3px 0;
  }

  a {
    text-decoration: none;
    color: $color-darksmoke;
    font-family: $font-body;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-royal;
    }

    // meta
    span {
      color: $color-royal;
      font-size: 12px;
      text-transform: none;
      letter-spacing: .5px;
    }
  }
}

.footer-logo {
  margin-left: -66px; // adjust for svg width: places it within the padding
  margin-right: -48px;
  width: 200px;
  flex-shrink: 0;
  height: 64px;
  opacity: .75;

  path:nth-of-type(1) {
    fill: #a9a9aa;
  }
  path:nth-of-type(2) {
    fill: #8d8d8d;
  }
  path:nth-of-type(3) {
    fill: #c3c3c3;
  }
  path:nth-of-type(4) {
    fill: #c9c9ca;
  }
}

.input-wrap {
  position: relative;

  svg {
    transform: rotate(-90deg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;

    path {
      fill: $color-wiltedlilac;
    }

    &:hover,
    &:focus {
      path {
        fill: $color-royal;
      }
    }
  }

  svg[data-icon-style="check"] {
    transform: none;

    path {
      fill: $color-royal;
    }
  }
}

.flex-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  > div {
    margin-right: 24px;
    margin-bottom: 24px;
  }

  @include size-medium-down {
    flex-direction: column;
    margin-bottom: 48px;
  }
}

.footer-copyright {
  padding: 0;
  margin: 0;
  color: $color-wiltedlilac;
  font-size: 12px;
  font-family: $font-body;
}

.footer-nav {
  padding: 48px 0.9375rem 0;

  a {
    color: #FFF;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    float: right;
    max-width: 62.5rem;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-size: 1em;
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    color: white;
  }
}

.footer-inner-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
