@import '../variables';
@import '../mixins';

.footer-wrap {
  background-color: #f2f2f5;
  flex-shrink: 0;
  margin: 3rem 0 0 0;
  min-height: 250px;
  padding: 3rem 1.8rem 3rem;
  position: relative;
}

.footer {
  display: flex;
  width: 100%;
  margin-bottom: 24px;

  @include size-tablet-down {
    flex-direction: column;
  }

  h3 {
    color: $color-wiltedlilac;
    font-family: $font-body;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;

    @include size-tablet-down {
      padding-top: 12px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 3px 0;
  }

  a {
    text-decoration: none;
    color: $color-darksmoke;
    font-family: $font-body;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-royal;
    }

    &:visited {
      color: $color-darksmoke;
    }

    // meta
    span {
      color: $color-royal;
      font-size: 12px;
      text-transform: none;
      letter-spacing: .5px;
    }
  }

  input[type="text"] {
    border-radius: 4px;
  }
}

.footer-logo--consensys {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.input-wrap {
  position: relative;

  svg {
    transform: rotate(-90deg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;

    path {
      fill: $color-wiltedlilac;
    }

    &:hover,
    &:focus {
      path {
        fill: $color-royal;
      }
    }
  }

  svg[data-icon-style="check"] {
    transform: none;

    path {
      fill: $color-royal;
    }
  }
}

.flex-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  > div {
    margin-right: 24px;
    margin-bottom: 24px;
  }

  @include size-medium-down {
    flex-direction: column;
    margin-bottom: 48px;
  }
}

.footer-copyright {
  text-align: center;

  span {
    color: $color-wiltedlilac;
    font-family: $font-body;
    font-size: .66em;
  }
}

.footer-nav {
  padding: 48px 0.9375rem 0;

  a {
    color: #FFF;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    float: right;
    max-width: 62.5rem;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-size: 1em;
    font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
    color: white;
  }
}

.footer-inner-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
