@import '../variables';
@import '../mixins';

.intro {
  padding: 112px 12px 0;
}

.text {
  color: $color-wiltedlilac;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: $font-body;
  font-weight: 600;
}

@include size-medium-down {
  .text {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@include size-tablet-down {
  .lines {
    @include hidden;
  }

  .text {
    text-align: center;
    margin-bottom: 24px;
  }
}

.refract-img {
  position: absolute;
  opacity: .45;
  left: 46px;
  top: 49px;
  z-index: -1;
}
