.large-quote {
	padding: 7% 0 10%;
	color: #066BD1;
	h1 {
		text-align: center;
	}
}
.block-center {
	margin-left: auto;
	margin-right: auto;
}

.outer-border {
	border-top: 3px solid #6CBBF1;
	border-bottom: 3px solid #6CBBF1;
	padding: 10px 0;
}

.middleBorder {
	border-top: 3px solid #b7dcf6;
	border-bottom: 3px solid #b7dcf6;
	padding: 10px 0;
}

.innerBorder {
	border-top: 3px solid #dbeefa;
	border-bottom: 3px solid #dbeefa;
	padding: 10px 0;
}
