@import '../variables';
@import '../mixins';

.h2 {
  color: $color-lilac;
}

.p {
  font-family: $font-body;
  color: $color-wiltedlilac;
}

.majorText {
  font-family: $font-body;
  color: $color-wiltedlilac;
  max-width: 80%;
  margin: 12px auto;
}

.divider {
  width: 30px;
  height: 1px;
  background: #6CBBF1;
  margin: 0 auto;
}

.svg {
  width: 150px;
  margin: 0 auto;
}

.svg-wrapper {
  text-align: center;
}

.image-wrapper {
  text-align: center;
  @include aspect-ratio(1, 1);
  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
  }
}

.svg-div {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  @include aspect-ratio(1, 1);
  svg,
  img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    margin: auto;
    @include transform(translateX(-50%));
  }
}

.feature-tile {
  width: 85% !important;
  margin: 50px auto !important;
  background: #FFF;
  border: 1px solid #eff4fe;
  border-radius: 10px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.05);
  padding: 40px 40px
}

.full-wrap {
  width: 100%;
}

.left-divider {
  width: 30px;
  height: 1px;
  background: #6CBBF1;
  margin: 0;
}

.button {
  padding: 12px 24px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px $color-royal;
  color: $color-royal;
  font-family: $font-body;
  font-weight: 600;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ebf5fd;
  }
}
