@import '../variables';
@import '../mixins';

input {
  font-family: $font-body;
  font-size: 1em;
  margin-bottom: 24px;
  padding: 0 36px 0 12px;
  outline: none;
  box-shadow: 3px 3px 0 0 #e6eaec;
  border: 1px solid #066bd1;
  height: 36px;
  color: $color-darksmoke;
  width: 100%;

  &:focus {
    ~ svg {
      path {
        fill: $color-royal;
      }
    }
  }
}

input {
  &[type="text"]:disabled {
    border: 1px solid $color-lilac;
    background-color: #FFF;
    opacity: .25;

    ~ button svg {
      path {
        fill: $color-wiltedlilac;
      }
    }
  }
}

// bot catcher
.no-good-input {
  @include assistive-hidden;
}

.newsletter-error {
  margin-top: -18px;
  display: flex;
  font-family: $font-body;
  color: $color-darksmoke;
}
