@import '../variables';
@import '../mixins';

// .blue-bump {
//   background-color: white;
//   // border-radius: 0 200px 0 0;
//   border-radius: 0 150px 0 0;
//   box-shadow: 0 0 0 2px #063454, 7px -5px 0 rgba(0, 0, 0, 0.05);
//   display: block;
//   margin-left: 0px;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   bottom: 0;
//   z-index: -1;
//   @include transform(translate(-50%, 0));

//   @include size-tablet-down {
//     @include transform(translate(0, 0));
//   }
// }

.full-row {
  max-width: 100%;
  position: relative;
}

.heading {
  margin: 0 auto;
  color: $color-royal;
  max-width: 380px;
  line-height: 1.5;

  @include size-tablet-down {
    text-align: center;
  }
}

.wave-wrapper {
  bottom: 0;
  left: 0;
  opacity: .075;
  position: absolute;
  width: 50%;
  z-index: -1;
}

.large-circle-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  top: 0;
  right: 0;
  width: 70%;
  transform: translate(40%, -60%);
  z-index: -1;
}

.outro-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
}

.fun-bunch {
  position: absolute;
  top: -200px;
  opacity: .03;
  left: 0;
  z-index: -1;
}
