@import '../variables';
@import '../mixins';

.wrapper {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1000;
}

.nav {
  padding: 48px 72px 48px 0;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  max-width: 62.5rem
}

.nav a {
  text-decoration: none;
  font-size: 1em;
  font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
  // color: #405EA7;
  color: #a3a3a3;
  font-weight: 600;

  &:visited {
    // color: #405EA7;
    color: #a3a3a3;
  }
}

.nav-popup {
  padding: 12px;
  background: $color-offwhite;
  border: 1px solid $color-darksmoke;
  position: absolute;
  right: 24px;
  top: 60px;
  z-index: 1000;
  overflow-y: scroll;
  max-height: 300px;
  width: 200px;
  border-radius: 2px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 6px 0;

      a {
        font-family: $font-body;
        text-decoration: none;
        color: $color-darksmoke;
        display: inline-block;
        width: 100%;

        &:hover {
          color: $color-royal;
        }
      }
    }

    hr {
      border: none;
      border-bottom-color: #ccc;
      border-bottom-style: dotted;
      border-bottom-width: 1px;
    }
  }
}

.nav-spacer-x {
  border-left-color: #ccc;
  border-left-style: dotted;
  border-left-width: 1px;
  height: 16px;
  width: 1px;
  align-self: center;
}

@include size-medium-up {
  .nav ul { width: 49%; }
}

@include size-medium-down {
  .nav ul { width: 49%; }
}
