@import "../variables";
@import "../mixins";

.wrapper {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

.nav {
  width: 100%;
  z-index: 1000;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  li:not(:last-child) {
    margin-right: 1rem;
  }

  li:last-child {
    padding: 3px 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: $color-white;
    box-shadow: 0.3rem 0.3rem $color-white;

    a {
      font-weight: 400;
    }
  }
}

.nav a {
  text-decoration: none;
  font-size: 1em;
  font-family: $font-body;
  color: $color-white;
  font-weight: 600;
  text-transform: uppercase;

  &:visited,
  &:hover {
    color: $color-white;
  }
}

.nav-menu {
  background: $color-white;
  border: 1px solid $color-black;
  position: absolute;
  right: 2rem;
  top: 65px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0.3rem 0.3rem $color-black;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 1rem;

      a {
        font-family: $font-body;
        text-decoration: none;
        color: $color-black;
        display: inline-block;
        width: 100%;
      }

      &:hover {
        background-color: $color-black;

        a {
          color: $color-white;
        }
      }
    }

    hr {
      border: none;
      border-bottom-color: #ccc;
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      margin: 0;
    }
  }
}
