@import "../variables";
@import "../mixins";

.outer-container {
  position: relative;
  border-bottom: 1px solid $color-black;

  &:after {
    content: "";
    display: block;
    border-left: 1vw solid transparent;
    border-top: 16px solid $color-white;
    border-right: 1vw solid transparent;
    position: absolute;
    bottom: -17px;
    width: 100%;
    z-index: 10;
  }
}

a {
  color: $color-royal;

  &:hover,
  &:focus {
    color: darken($color-royal, 15%);
  }

  &:visited {
    color: lighten($color-lilac, 15%);
  }
}

.subpage-wrap {
  max-width: 57.5rem;
  margin: 3rem auto 6rem;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;

  @include size-down-down {
    margin: 3rem 0 6rem;
  }
}

.subpage {
  width: 100%;
  padding: 2rem;
  color: darken($color-darksmoke, 5%);
  font-family: $font-header;
  font-size: $font-size-reading;

  // tables
  table {
    border-collapse: collapse;
    font-size: 0.85em;
    overflow-x: scroll;
    display: block;
  }

  tr {
    border-bottom: 1px solid #ddd;

    &:nth-of-type(2n) {
      background-color: $color-offwhite;
    }

    &:hover td {
      background-color: lighten($color-wiltedlilac, 35%);
    }
  }

  th {
    font-weight: 600;
  }

  th,
  td {
    text-align: left;
    padding: 4px;
  }

  td {
    padding: 6px;
    background-color: transparent;
    transition: background 0.25s ease;
  }
}

.legal {
  text-transform: uppercase;
  word-spacing: 0.25em;
}
