@import "../variables";
@import "../mixins";

.outer-container {
  position: relative;
  border-bottom: 1px solid $color-black;

  &:after {
    content: "";
    display: block;
    border-left: 1vw solid transparent;
    border-top: 16px solid $color-white;
    border-right: 1vw solid transparent;
    position: absolute;
    bottom: -17px;
    width: 100%;
    z-index: 10;
  }
}

a {
  color: $color-royal;

  &:hover,
  &:focus {
    color: darken($color-royal, 15%);
  }
}

.subpage-wrap {
  max-width: 62.5rem;
  margin: 1rem auto 4rem;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
}

.subpage {
  width: 100%;
  padding: 2rem;
  color: $color-black;
  font-family: $font-header;
  font-size: $font-size-base;

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  // tables
  table {
    border-collapse: collapse;
    font-size: 0.85em;
    overflow-x: scroll;
    display: block;
  }

  tr {
    border-bottom: 1px solid #ddd;

    &:nth-of-type(2n) {
      background-color: $color-offwhite;
    }
  }

  th {
    font-weight: 700;

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }

  th,
  td {
    text-align: left;
    padding: 6px;
  }

  td {
    background-color: transparent;

    &:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }
}

@include size-tablet-down {
  .subpage-wrap {
    margin: 0 0 3rem;
  }

  .subpage {
    font-size: 1rem;

    h1 {
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1.275rem;
    }

    h3 {
      font-size: 1.125rem;
    }

    table {
      font-size: 0.85rem;
    }
  }
}

@include size-down-down {
  .subpage {
    padding: 1rem 25px;
  }
}
