@import '../variables';
@import '../mixins';

.h2,
.flex-wrapper,
.flex-wrapper > p {
  text-align: center;
  width: 100%;
}

.h2 {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.text {
  color: #a3a3a3;
}

.button {
  padding: 24px 48px;
}

.flex-wrapper > p {
  margin-bottom: 2.5rem;
}

.api-snippet {
  width: 42rem !important;
  height: 26rem !important;
  margin: 0 auto;
  border-left: 1rem solid #272822;
}

.ctaWrapper {
  text-align: center;
}
