html {
  font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

/* headings */

h2 {
  font-family: Nobile, Times New Roman, serif;
  font-weight: 400;
}

/* layout */

.wrap {
  margin: 0 auto;
}

.wrap-large {
  max-width: 1200px;
}

/* font */

.font-nobile {
  font-family: Nobile, Times New Roman, serif;
}

/* color */

.color-white {
  color: white;
}

/* helpers */

.accessibility {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
