// font stacks
$font-body: "Space Mono", monospace;
$font-header: "Space Mono", monospace;

// font sizes
// @todo add mixin for fluid font sizes
$font-size-base: 18px;
$font-size-reading: 20px;

// widths
$width-wide: 1200px;
$width-max-content: 1125px;

// colors
$color-cirrus: #c5ddef;
$color-darksmoke: #333333;
$color-keylargo: #31cde7;
$color-lilac: #4952a5;
$color-offwhite: #fafafa;
$color-royal: #076ad2;
$color-wiltedlilac: #828092;
$color-white: #ffffff;
$color-black: #000000;
$color-pink: #dc38d1;
