// font stacks
$font-body: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-header: Hind, Roboto, Arial, sans-serif;

// font sizes
// @todo add mixin for fluid font sizes
$font-size-base: 18px;

// widths
$width-wide: 1200px;

// colors
$color-cirrus: #c5ddef;
$color-darksmoke: #333333;
$color-keylargo: #31cde7;
$color-lilac: #4952a5;
$color-offwhite: #fafafa;
$color-royal: #076ad2;
$color-wiltedlilac: #828092;
